# Simple configuration for an HTTP proxy listening on port 80 on all
# interfaces and forwarding requests to a single backend "servers" with a
# single server "server1" listening on 127.0.0.1:8000
global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    stats enable
    stats uri /haproxy
    option httpchk GET /health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server message message:9007 maxconn 32 check
    server message2 message2:9007 maxconn 32 check
    server message3 message3:9007 maxconn 32 check